body {
    margin: 0;
    padding: 0;
    background-color: #cc5577;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23cc5577' width='11' height='11'/%3E%3Crect fill='%23ce5776' x='10' width='11' height='11'/%3E%3Crect fill='%23d05a76' y='10' width='11' height='11'/%3E%3Crect fill='%23d15c75' x='20' width='11' height='11'/%3E%3Crect fill='%23d35f74' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23d46174' y='20' width='11' height='11'/%3E%3Crect fill='%23d66473' x='30' width='11' height='11'/%3E%3Crect fill='%23d76673' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23d96972' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23da6c72' y='30' width='11' height='11'/%3E%3Crect fill='%23db6e71' x='40' width='11' height='11'/%3E%3Crect fill='%23dc7171' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23dd7471' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23de7671' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23df7971' y='40' width='11' height='11'/%3E%3Crect fill='%23e07c71' x='50' width='11' height='11'/%3E%3Crect fill='%23e17e71' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23e28171' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23e38471' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23e38771' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23e48972' y='50' width='11' height='11'/%3E%3Crect fill='%23e58c72' x='60' width='11' height='11'/%3E%3Crect fill='%23e58f73' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23e69173' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23e69474' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23e79775' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23e79a75' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23e89c76' x='70' width='11' height='11'/%3E%3Crect fill='%23e89f77' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23e8a278' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23e9a47a' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23e9a77b' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23e9aa7c' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23e9ac7e' x='80' width='11' height='11'/%3E%3Crect fill='%23eaaf7f' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23eab281' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23eab482' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23eab784' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23eaba86' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23ebbc88' x='90' width='11' height='11'/%3E%3Crect fill='%23ebbf8a' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23ebc18c' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23ebc48e' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23ebc790' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23ebc992' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23ebcc94' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23ebce97' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23ebd199' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23ecd39c' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23ecd69e' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23ecd8a1' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23ecdba4' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23ecdda6' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23ece0a9' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23ede2ac' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23ede4af' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23ede7b2' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23ede9b5' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23eeecb8' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EEB' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 500px;
}
    
.main-container {
    display: flex;
    width: 100%;
    height: 400px;
    margin-top: 0;
}
    
.image-box {
    width: 45%;
    float: left;
    position: relative;
}
    
#main {
    position: absolute;
    top: 180px;
    right: 2px;
    width: 90%;
}

#main:hover {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
    
.image-button {
    text-align: center;
    position: absolute;
    top: 5px;
    left: 150px;
}
    
.memory-card {
    width: 45%;
    float: right;
    height: 450px;
    margin: 60px 40px;
    position: relative;
}
    
h3 {
    padding: 15px 30px;
    font-family: 'Spirax', cursive;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    color: #ffcc00;
    margin: 0;
}

table, tr, td {
    border: 4px solid #ffcc00;
}

table {
    width: 60%;
    margin: 20px auto 5px auto;
}

tr {
    width: 20%;
}
    
td {
    width: 80px;
    height: 80px;
}

.imgGrid {
    width: 93px;
    height: 85px;
    background-size: cover;
    cursor: pointer;
}

.instruction {
    width: 38%;
    height: 28px;
    background-color: rgba(209, 119, 28, 0.4);
    padding: 8px 0;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 28px;
    color: white;
    margin-left: 170px;
    border-radius: 12%;
}

.difficulty {
    background-color: #ffcc00;
    border-radius: 20%;
    color: black;
    width: 90px;
    padding: 10px 10px;
    margin-right: 30px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid rgb(209, 119, 28);
}

.difficulty:hover {
    color: white;
    border: 3px solid darkgoldenrod;
    font-size: 20px;
}

h1 {
    font-size: 28px;
    font-family: 'Chicle', cursive;
    color: black;
    width: 400px;
}

span {
    color: #ffcc00;
    font-size: 35px;
}

.levelBox {
   display: inline-block;
   width: 65px;
   background-color: rgba(209, 119, 28, 0.4);
   padding: 10px;
   margin: 10px 120px;
   color: white;
   font-size: 15px;
   font-family: 'Libre Baskerville', serif;
   border-radius: 10%;
}

.scoreBox {
    display: inline-block;
    width: 65px;
    background-color:rgba(209, 119, 28, 0.4);
    padding: 10px;
    margin: 10px auto;
    color: white;
    font-size: 15px;
    font-family: 'Libre Baskerville', serif;
    border-radius: 10%;
}

.resetBtn {
    display: block;
    width: 65px;
    background-color: #ffcc00;
    text-align: center;
    padding: 10px;
    margin: -10px auto;
    color: white;
    font-size: 15px;
    font-family: 'Libre Baskerville', serif;
    border-radius: 10%;
    cursor: pointer;
}

.imgGrid-tinted {
    opacity: .2;
    border: 3px solid rgb(196, 20, 20);
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}




